<div class="flex gap-3 flex-col" *ngIf="editMode;else finalValue">
    <input [(ngModel)]="rate" pattern="^\d.+$" #rateInput="ngModel" required placeholder="תעריף באגורות"
        class="input shadow" />
    <app-field-error *ngIf="rateInput.errors?.['pattern']">חייב להזין מספרים בלבד</app-field-error>
    <button (click)="saveRate()" class="button shadow" [disabled]="rateInput.errors">שמירה</button>
    <button class="button bg-red-500" *ngIf="editingExistingValue" (click)="onCancelEditExisting()">ביטול</button>
</div>
<ng-template #finalValue>
    <div class="flex items-center justify-between">
        <span class="font-bold text-4xl">{{localeRate}} אג'</span>
        <button (click)="setEditMode(true)">עריכה</button>
    </div>
</ng-template>