/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Alef", sans-serif;
    font-weight: 400;
    font-style: normal;
    @apply min-h-screen w-screen text-slate-700;
}

h1,h2,h3,h4,h5,h6 {
    @apply text-orange-500 border-b-2 border-orange-600/20;
}

.container {
    @apply bg-gray-100 rounded-3xl p-8;
}

.shadow {
    @apply shadow-xl shadow-slate-300/20;
}

.button {
    @apply bg-gradient-to-r from-orange-400 to-orange-400/70 rounded-xl text-2xl md:text-xl px-4 py-2 text-white font-bold hover:bg-orange-400/90 active:scale-[1.05] duration-200 ease-in-out disabled:from-gray-400 disabled:cursor-not-allowed disabled:to-gray-300;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-base;
}

.input {
    @apply bg-gray-50/70 text-2xl rounded-xl py-2 px-6 w-full shadow-lg border-[2px];
}